<a href="https://colab.research.google.com/github/thangpro1242002/thangpro1242002/blob/main/btapSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [31]:
series = pd.Series([12, 5, 23, 8, 25, 5, 87, 22, 12, 13])
series

0    12
1     5
2    23
3     8
4    25
5     5
6    87
7    22
8    12
9    13
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [14]:
series1 = pd.Series({'faker':10,'uzi':8,'marin':8,'wolf':7,'bang':6,'bengi':7})
series1

faker    10
uzi       8
marin     8
wolf      7
bang      6
bengi     7
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [23]:
my_series = pd.Series([12, 5, 23, 8, 25, 5, 87, 22, 12, 13],index=['A1', 'B2', 'C1', 'D1', 'E2', 'F1', 'G2', 'H1', 'I2', 'J2'])
my_series

A1    12
B2     5
C1    23
D1     8
E2    25
F1     5
G2    87
H1    22
I2    12
J2    13
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [17]:
series1[4]

6

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [18]:
my_series['b']

5

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [29]:
my_series[[name.endswith('2') for name in my_series.index]]

B2     5
E2    25
G2    87
I2    12
J2    13
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [32]:
series.name = 'Gia_tri'
series.index.name = 'STT'
series

STT
0    12
1     5
2    23
3     8
4    25
5     5
6    87
7    22
8    12
9    13
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [33]:
np.log(series)

STT
0    2.484907
1    1.609438
2    3.135494
3    2.079442
4    3.218876
5    1.609438
6    4.465908
7    3.091042
8    2.484907
9    2.564949
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [34]:
series[series > 15]

STT
2    23
4    25
6    87
7    22
Name: Gia_tri, dtype: int64